h2{
    color:blue;
}
.skill-card{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    background: white;
    border-radius: 13px;
    border: solid 3px blue;
    
    
}
.card-flex{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 100px;
}